/* 

Project Name: Bulldog Function Hire
Client: Bulldog Function Hire
Author: Bryan Bulling

*/

/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/
body {
		
		min-height: 100vh;
        max-width: 100vw;
		background-attachment: fixed;
		-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

}

#header {
       width: 1360px;
       position: center;
       background-color: #fdfdfd;
       text-align: center;
       height: 50px;
       font-family: 'Oswald', sans-serif;
       margin:  0 auto 0 auto;
       border: solid;
       border-color: #ff7e0c;
       border-width: 2px 0 0 0;
}



/*----------------------------------------------------------------------------- 
02=Middle   
-----------------------------------------------------------------------------*/

#container {

		background-color: #ff7e0c;
		position: center;
		border-top-left-radius: 10px;
        border-top-right-radius: 10px;
		text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
  		width: fit-content;
  		margin:  0 auto 0 auto;
    	
}



#left-column {
   height: 100;

}

#middle-column {
    height: 100px;

}

#right-column {
    height: 100px;
    
}


h1 {    
        font-size: 14px;
        margin-top: 10px;
        padding: 10px;
        padding-top: 20px;
        color: #121212;

}

h2 {    
        background-color: #fdfdfd;
        margin-top: 0px;
        margin-bottom: 0;
        padding-top: 40px;
        padding-left: 50px;
        color:  #121212;
        font-size: 40px;
        height: 280px;
        width:  auto;
        font-family: 'Oswald', sans-serif; 

}

h3 {
    background-color: #ff7e0c;
    color: yellow;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 0px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
}

h4 {

    color: #121212;
    background-color: #ff7e0c;
    text-align: center;
    z-index: 2;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    display: None;

}


/* relevant styles */

.menu__wrap_left {
    float: left;
    position: relative;
    height: 48px;
    width: 48px;
    cursor: pointer;
  }


button.menu__wrap_left {
    margin-left: 0px;
}

.menu__wrap_left img {
    margin-left: 6px;
    margin-top: 5px;
    height: 52px;
    width: 52px;
  }

/*adjust height above social media icons*/
.img__wrap_right a {
    float: right;
    margin-top: 20px;
}

.social_links_W img {
    float: right;
    margin-top: -8px;
    margin-right: 20px;
    height: 34px;
}

a.social_links_W:hover { color: #40c351; 
                            text-decoration: none;}

.social_links_FB img {
    float: right;
    margin-top: -7px;
    margin-right: 20px;
    height: 34px;
}


/*https://www.facebook.com/brand/resources/facebookapp/logo*/

a.social_links_FB:hover { color: #1877F2; 
                            text-decoration: none;}


.social_links_M img {
    float: right;
    margin-top: -6px;
    margin-right: 20px;
    height: 34px;
}

a.social_links_M:hover { color: #ff7e0c ; 
                            text-decoration: none;}


/*Editing the Menu image from icon8.com*/

.img_menu_description {
  position: absolute;
  text-align: center;
  height: 36px;
  width:  48px;
  font-size: 13px;
  margin-top: 0px;
  margin-left: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #121212;
  opacity: 1;
  cursor: pointer;
  

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

img.img_img:hover {
  opacity: 0;
}

.link {

    transition: all 0.1s;
}

.link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.center {
    float: left;
    /*position: center;*/
    max-width:  100%;
    padding: 0px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.banner {
    position: center;
    background-color: #121212;
    width: 100%;
}



/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
  
}

.column-left {
  width: 20%;
  background-color: #121212 ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

.column-middle {
  
  width: 60%;
  background-color: #121212 ;
}



.column-right {
  width: 20%;
  background-color: #121212 ;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

/* Clear floats after the columns */
.clearfloat:after {
  content: "";
  display: table;
  clear: left;
}
/*----------------------------------------------------------------------------- 
5 - button editing   
-----------------------------------------------------------------------------*/

.sectionstyle {
    border-top: 2px solid #121212;
    border-bottom: 2px solid #121212;
    background-color: #fdfdfd;  
}

.button {
  
  background: #fdfdfd;
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 20px;
  width: 20%;
  box-sizing: border-box;
  transition: all 0.2s;
  cursor: pointer;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}


.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*3 Style The Dropdown Buttons */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  color: #121212;
  position: absolute;
  width: 260px;
  height: auto;
  margin-left: 5px;
  background-color: #fdfdfd;
  box-shadow: 0px 8px 16px 0px #121212;
  z-index: 1;
  font-family: 'Oswald', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a{
  
  color: #121212;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(255, 126, 12, 0.75);
    color: #121212;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/*----------------------------------------------------------------------------- 
6 -Gallery /Slideshow   
-----------------------------------------------------------------------------*/
.gallery-content {
    position: relative;
    margin: auto;
    padding-top: 20px;
    background-color: #121212;
    width: 100%;
    box-sizing: border-box;
    height: 500px;
    padding-bottom: 20px;
    border: 1px solid #121212;
}

.gallery-content img {
    position:relative;
    margin: auto;
    max-width: 100%;
    max-height: 450px;
    border: 1px solid #121212;
    border-radius: 4px;
    box-sizing: border-box;
    display: none;

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

button {
    color: green;
    position: relative;
    margin-left: 80%;
    z-index: +1;
    
}


/*----------------------------------------------------------------------------- 
7 -Footer   
-----------------------------------------------------------------------------*/


.footer {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #121212;
    padding: auto;
    font-size: 14px;
    text-align: left;
    border-top: 2px solid #ff7e0c;
}

.footer .links{
    color: #818181;
    text-align: left;
    margin: auto;
    font-style: bold;
    font-size: 15px;
}

.footer ul {
    margin:  auto;
    padding-top: 20px;
    padding-left: 10%;
    text-align: left;
    list-style-type: none;
}

.list_float {
    float: left;   
}

.list_float b{
    color: #818181;   
}

.footerbox {
    text-decoration: none;
}


/*----------------------------------------------------------------------------- 
9 -Acknowledgment Icons Fonts Etc.    
-----------------------------------------------------------------------------*/
.acknowledgement {
    text-align: left;
    padding-left: 20px;
    font-size: 12px;
    color: #818181;
}

.Modalmenu {
    display: none;
}



/*----------------------------------------------------------------------------- 
10 - Link editing   
-----------------------------------------------------------------------------*/
a:link { color: #121212; /* orange colour rgba(255, 126, 12, 1)*/
         text-decoration: none;}
a:visited { color: #121212; /* dark/black colour rgba(18, 18, 18, 1) */
            text-decoration: none;}
a:hover { color: #ff7e0c; 
          text-decoration: none;}
a:active { color:#121212; 
           text-decoration: none;}
h3:hover a{ color:#121212;
                   text-decoration: underline;}
/* #fdfdfd - The Cream/White Colour  rgba(253, 253, 253, 1)*/


/*----------------------------------------------------------------------------- 
11 - Responsive Design   
-----------------------------------------------------------------------------*/


/*480p Green TEXT*/
@media only screen and (min-height:480px) and (max-width: 240px) {

    .menu__wrap_left {
        display: none;
    }

    #header {
        display: None;
    }

    .img__wrap_right {
        display: none;
    }

    #container {
        width: 350px;
        max-height: 480px;
        position: center;
    }

    h2 {    
       display: none;
    }

    h3  {
        display: none;
    }


    h4  {
        display: flex;
        position: relative;
        text-align: center;
        margin-top: 10%;
        font-size: 15px;
        
    }

    .column {
        display: none;
  
    }

    .gallery-content {
        display: none;
    }

    .banner img {
        display: none;
    }
    .banner {
        display: none;
    }

    .button {
        display: none;
    }
     .button span {        
        display: none;
    }
    .dropdown-content {
        display: none;
    }
    .gallery-content img {
        display: none;
    }
    
    .footer {
      display: none;  
    }

    .list_float {
        display: none;  
    }

    .acknowledgement {
        display: none;  
    }

    #demo {
        display: block;
        font-size: 50px;
        color: #40c351;
    }


                        }/*End 480p */

/*----------------------------------------------------------------------------- 
XX - RESPONSIVE DESIGN MOBILE VIEW 
-----------------------------------------------------------------------------*/

/*Min Viewport width of 241px up to 1024px - Mobile View BLUE TEXT*/
@media only screen and (min-width:241px) and (max-width: 1024px) {
    
    
    #header {
       width: 95%;
       height: 60px;
       padding-bottom: 2px;
       margin-top: 5px;
       border-radius: 0px;
       border: solid;
       border-color: #ff7e0c;
       border-width: 3px 0 3px 0;
    }
    .menu__wrap_left {
        width: 60px;
        height: 120px;
    }

    .dropdown-menu img {
        width: 60px;
        height: 60px;
        padding-top: 5px;
        
    }

    .img_menu_description {
        position: absolute;
        text-align: center;
        height: 60px;
        width:  60px;
        font-size: 15px;
        margin-top: 0px;
        margin-left: 6px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #121212;
        opacity: 1;
        cursor: pointer;
    }
    /*-----------------------Start SideNav CSS-------------------------*/
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #121212; /* This websites Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
  
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
  
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #fdfdfd;
    }
  
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
    transition: margin-left .5s;
    padding: 1px;
    }
    
    #container {
        width: 95%;
        position: center;
        margin:  0 auto 0 auto;
        height: auto;
    }


    /*----------------END OF SIDE BAR CSS-----------------------*/
   
   /*adjust height above social media icons*/
   .img__wrap_right a {
    margin-top: 15px;

    }

    a.social_links_FB,a.social_links_M,a.social_links_W {
        text-indent: -9999px;
    }

    .social_links_FB img, .social_links_M img {
        height: 40px;
        margin-right: 4px;
    }

    .social_links_W img {
        height: 40px;
        margin-left: 0px;
    }
    
    .banner {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        background-color: #fdfdfd;
        margin: auto;
        padding: auto;
    }

    .banner img{
        position: relative;
        width: 90%;
        margin-top: -40px;
    }

    :root {

        --color-1: #FF7e0c;
        --color-2: #121212;

        /*--color-1: #186cb8;
        --color-2: #2a9a9f;
        --color-3: #f1b211;
        --color-4: #e83611;
        --color-5: #f9002f;*/
    }

    h2 {  
        float: none;
        display: block; 
        margin: 0;
        padding: 5px 0 6px 0;
        font-size: 260%;/*3.1vmax;*/ 
        font-weight: 300;
        width: 100%;
        height: auto;
        color: #121212;

        background: linear-gradient(219deg, 
            var(--color-1) 19.5%, 
            transparent 19.5%,transparent 20%, 
            var(--color-2) 20%, var(--color-2)  39.5%,
            transparent 39.5%,transparent 40%, 
            var(--color-1) 40%,var(--color-1) 59.5% ,
            transparent 59.5%,transparent 60%, 
            var(--color-2) 60%, var(--color-2) 79.5%,
            transparent 79.5%, transparent 80%, 
            var(--color-1) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

    }

    h3  {
        width: 100%;
        font-size: 150%;/*30px;*/
        font-weight: 200;
        color: #121212;
        background-color: #ff7e0c;
        margin-bottom: 30px;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 2px;
        border-top: 2px solid #121212;
    }
    
    .sectionstyle {
            display: none;
    }

    .column {
        float: none;
    }

    .button {
        width: 50vmax;
        margin:  2px;
    }

     .button span {        
        font-size: 24px;
    }


    .dropdown-content {
        width: 25vmax;
        margin-left: 400px;
        margin-top: -70px;
        border: 1px solid #121212;
        border-radius: 4px;
        font-size: 22px;
    }

    .button:hover span {
        padding-right: 100px;
    }

    .gallery-content {
        height: 320px;
        padding-top: 0px;
        padding-bottom: 2px;

    }

    .gallery-content img {
        width: 99%;
        position: relative;
        height: 320px;
        padding-bottom: 2px;
    }


    .footer {
        position: relative;
        width: 100%;
        height: 140px;
        background-color: #121212;
        padding: auto;
        font-size: 12px;
        text-align: left;
        border-top: 2px solid #ff7e0c;
        
    }

    .footerbox {
        background-color: #121212;
        box-sizing: border-box;
        float: right; 
        width: 50%;
        height: 140px;
        text-align: left;
        padding-top: 10%;
         
     }
 
     .footerbox b, .footerbox p{
         font-variant: normal;
         font-size: 125%;
         font-weight: 200;
         color: #f1f1f1;
         font-family: 'Oswald', sans-serif;
         text-decoration: underline 1.5px #ff7e0c;
     }

    .footerlogoimg {
        background-color: #121212;
        box-sizing: border-box;
        padding-top: 30px;
        float: left;
        position: relative;
        width: 50%;
        max-height: 140px;
    }
    
    .list_float {
        background-color: #121212;
        display: none;
    }

    ul.list_block_enable {
        background-color: #121212;
        padding-top: 0;
        height: auto;
        box-sizing: border-box;
        display: block;
        width: 100%;
        background-color: #121212;
        border: 2px solid #121212;
        font-size: 14px;
    }

    ul.list_block_enable p{
        margin-bottom: 5px;

    }

    .footer .links{
        background-color: #121212;
        font-size:12px;
    }

    ul.follow {
        padding-top: 10px;
    }

    .facebookfooterimg {
        width: 20px;
        height: auto;
        
    }
   
    .acknowledgement {
        position: sticky;
        padding: 0;
        text-align: center;
        width: 100%;
        max-height: 50px;
        background-color: #121212;
        float: left;

    }

    a.icons {
        font-size: 9px;
        color: #818181;

    }

    a.icons:hover { 
        color: #fdfdfd; 
        text-decoration: none;}

    a.copyright {
        display: block;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: auto;
        color: #818181;
    }

    #demo {
        display: none;
    }


    .Modalmenu {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
      }
      
      /* Modal Content/Box */
      .Modalmenucontent {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }

      a.Modalmenulinks {
        color: #121212;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
      }

      a.Modalmenulinks:hover {
        color: #ff7e0c;
      }
      
      /* The Close Button */
      .menuclose {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }


}/*End max-width: 720p */

/*----------------------------------------------------------------------------- 
XX - FIX Bulldog Image Home Screen VIEW 
-----------------------------------------------------------------------------*/



@media (min-width:480px) and (max-width:1024px){

.banner img {
        margin: auto;
    }
}

/*----------------------------------------------------------------------------- 
XX - RESPONSIVE DESIGN DESKTOP VIEW 
-----------------------------------------------------------------------------*/

/*1080p BLACK TEXT!!!!!!!!!!!!!!!!!*/
@media (min-width:1025px) and (max-width:1920px) {
    #header {
       width: 1280px;
       height: 60px;
       padding-bottom: 2px;
       border-radius: 0px;
       border: solid;
       border-color: #ff7e0c;
       border-width: 3px 0 3px 0;
    }

    /*OPACITY - HIDING ELEMENTS - RESPONSIVE WOOOOWOWOWO*/
    .menu__wrap_left {
        opacity: 1;
    }

    p.img_menu_description {
        opacity: 1;
        display: block;
        font-size: 16px;
        
    }
    .dropdown-menu img {
        width: 60px;
        height: 60px;
        padding-top: 2px;
        
    }
    .img_menu_description {
        height: 60px;
        width:  60px;
        margin-left: 6px;
    }

    .menu__wrap_left {
        display: yes;
    }


    /*-----------------------Start SideNav CSS-------------------------*/
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
  
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
  
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }
  
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
    transition: margin-left .5s;
    padding: 20px;
    }

    .sidenav_responsive {
        display: none;
    }
  
    /*----------------END OF SIDE BAR CSS-----------------------*/
    
    #container {
        width: 1280px;
        position: center;
        margin:  0 auto 0 auto;
    }

    .dropdown-content {
        width: 240px;
        margin-left: 5px;
        border: 1px solid #121212;
        border-radius: 4px;
        font-size: 20px;
    }

    .banner {
        width: 1280px;
        height: 320px;
        background-color: #fdfdfd;
    }

    .banner img {
        float: left;
        height: 320px;
        margin-top: 15px;
        margin-left: 40px;
        padding-left: 40px;
        max-height: 306px ;
        pointer-events: none;
        
    }

    :root {

        --color-1: #FF7e0c;
        --color-2: #121212;
        --color-3: #f1b211;
        --color-4: #e83611;
        --color-5: #186cb8;
        /*--color-1: #186cb8;
        --color-2: #2a9a9f;
        --color-3: #f1b211;
        --color-4: #e83611;
        --color-5: #f9002f;*/
    }

    h2 {
        color: #121212;
        font-size: 50px;
        padding-top: 10%;
        height: 195px;

        background: linear-gradient(224deg, 
            var(--color-1) 10%, 
            transparent 14.5%,transparent 15%, 
            var(--color-2) 15%, var(--color-2)  33%,
            transparent 33.2%,transparent 33.4%, 
            var(--color-1) 33.5%,var(--color-1) 47.6% ,
            transparent 47.6%,transparent 47.8%, 
            var(--color-2) 47.9%, var(--color-2) 59.5%,
            transparent 59.5%, transparent 60%, 
            var(--color-5) 60%,var(--color-5) 74.5%,
            transparent 74.5%, transparent 75%,
            var(--color-1) 75%
            );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
    }

    .button {
        width: 230px;
        padding: 20px;
        padding-left: 60px;
    }

    .button span {        
        font-size: 20px;
    }

    h1 {    
        font-size: 16px;
        margin-top: 10px;
        padding-top: 13px; 

    }



    h3  {
        color: #121212;
        margin-bottom: 38px;
    }
    

    .gallery-content {
        height: 640px;

    }

    .gallery-content img{
        max-width: 90%;
        margin: auto;
        max-height: 600px;
    }

    .footer {
        position: relative;
        width: 100%;
        height: 240px;
        background-color: #121212;
        padding: auto;
        font-size: 14px;
        text-align: left;
        border-top: 2px solid #ff7e0c;
    }

    .footerbox {
       box-sizing: border-box;
       float: left; 
       width: 360px;
       height: 230px;
       text-align: center;
       padding-top: 75px;
       padding-left: 50px;
        
    }

    .footerbox b{
        font-size: 24px;
        font-weight: 300;
        color: #f1f1f1;
        font-family: 'Oswald', sans-serif;
        text-decoration: underline #ff7e0c;
    }

    .footerlogoimg {
        float: left;
        position: relative;
        width: 350px;
        height: 160px;
        margin-top: 30px;
        margin-left: -5px;
    }

    
    
    .footer .links{
        color: #818181;
        text-align: left;
        margin: auto;
        padding: 1px;
        font-style: bold;
        font-size: 14px;
    }
    
    .footer ul {
        margin-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: left;
        list-style-type: none;
        border-left: 1px solid #818181;
    }
    
    .list_float {
        float: left;   
    }
    
    .list_float p{
        margin-top: -20px;
        color: #818181;   
    }

    li {
        padding-bottom: 2px;
    }

    .follow p {
        margin-bottom: 5px;
    }

    .facebookfooterimg {
        width: 30px;
        height: 30px;   
    }

    .clearfloatfooter:after {
        content: "";
        display: table;
        clear: left;
    }
    .clearfloatfooter {
        height: 0px;
        width: 100%;
    }

    .acknowledgement {
        box-sizing: border-box;
        position: sticky;
        padding: 0;
        text-align: left;
        width: 100%;
        height: 30px;
        padding-left: 20px;
        background-color: #121212;
        float: left;

    }

    a.icons {
        padding-left: 5px;
        color: #818181;

    }

    a.icons:hover { 
        color: #fdfdfd; 
        text-decoration: none;
        cursor: pointer;}

    a.copyright {
        float: right;
        padding-right: 50px;
        color: #818181;
    }

    #demo {
        display: none;
    }

    .Modalmenu {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
      }
      
      /* Modal Content/Box */
      .Modalmenucontent {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }

      a.Modalmenulinks {
        color: #121212;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
      }

      a.Modalmenulinks:hover {
        color: #ff7e0c;
      }
      
      /* The Close Button */
      .menuclose {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .menuclose:hover,
      .menuclose:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }



                        } /*End max-width: 1920px */