/* 

Project Name: Bulldog Function Hire
Client: Bulldog Function Hire
Author: Bryan Bulling

*/

/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/
body {
		background: url('../images/bulldog3.jpg');
		background-repeat: no-repeat;
		background-position: 250px 85px;
		background-attachment: fixed;
		-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

}

#header {
       
       position: center;
       background-color: #fdfdfd;
       text-align: center;
       font-family: 'Bebas Neue', cursive;
       font-size: 30px;
       margin:  0 auto 0 auto;
}

/*----------------------------------------------------------------------------- 
02=Middle   
-----------------------------------------------------------------------------*/

#container {

		background-color: #ff7e0c;
		position: center;
		border-top-left-radius: 10px;
        border-top-right-radius: 10px;
		text-align: center; 
  		width: fit-content;
  		margin:  0 auto 0 auto;
    	
}



#left-column {
   height: 100;

}

#middle-column {
    height: 100px;

}

#right-column {
    height: 100px;
    
}


h1 {    font-size: 15px;
        padding: 10px


}
h2 {    background-color: #ff7e0c;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color:  black;
        font-size: 50px;
        width:  auto;
        border-radius: 0px;
        font-family: 'Bebas Neue', cursive; 

}


.center {
    position: center;
    max-width:  100%;
    padding: 0px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.banner {

    background-color: #121212;
    width: 100%;
}



/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
  
}

.column-left {
  width: 20%;
  background-color: #121212 ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

.column-middle {
  
  width: 60%;
  background-color: #121212 ;
}



.column-right {
  width: 20%;
  background-color: #121212 ;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

/* Clear floats after the columns */
.clearfloat:after {
  content: "";
  display: table;
  clear: left;
}



/*----------------------------------------------------------------------------- 
10 - Link editing   
-----------------------------------------------------------------------------*/

a:link { color: #ff7e0c; 
         text-decoration: none;}
a:visited { color: #121212; 
            text-decoration: none;}
a:hover { color: #ff7e0c; 
          text-decoration: none;}
a:active { color:#121212; 
           text-decoration: none;}

.button {
  
  background: #fdfdfd;
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid #121212;
  border-radius: 2px;
  width: 50%;
  margin: 0 auto;

}
@media (min-width: 1400px) {
    #container, body {
        width: 1360px;
        position: center;
        margin:  0 auto 0 auto;
    }

    .banner img {
        height: 300px;
    }
}