/* 

Project Name: Bulldog Function Hire
Client: Bulldog Function Hire
Author: Bryan Bulling

*/

/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/
body {
  background: url('../images/bulldog3.jpg');
  background-repeat: no-repeat;
  background-position: 250px 85px;
  background-attachment: fixed;
  -webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#header {
     width: 1360px;
     position: center;
     background-color: #fdfdfd;
     text-align: center;
     height: 56px;
     font-family: 'Oswald', sans-serif;
     margin:  0 auto 0 auto;
     border: solid;
     border-color: #ff7e0c;
     border-width: 2px 0 2px 0;
}



/*----------------------------------------------------------------------------- 
02=Middle   
-----------------------------------------------------------------------------*/

#container {

  background-color: #fdfdfd;
  position: center;
  border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; 
    width: fit-content;
    margin:  0 auto 0 auto;
    
}



#left-column {
 height: 100;

}

#middle-column {
  height: 100px;

}

#right-column {
  height: 100px;
  
}


h1 {    
      font-size: 13px;
      padding: 10px;
      padding-top: 10px;
      color: #121212;


}

h2 {    
  background-color: #fdfdfd;
  margin-top: 90px;
  margin-bottom: 0px;
  padding-top: 60px;
  margin-left: 100px;
  color:  #121212;
  font-size: 50px;
  height: 100px;
  width: 320px;
  border-radius: 0px;
  font-family: 'Oswald', sans-serif; 

}


.about_us {
  text-align: left;
  font-family: 'Oswald', sans-serif;
}


/* relevant styles */
.img__wrap_left {
float: left;
position: relative;
height: 48px;
width: 48px;
}

.img__wrap_left img {
  margin-left: 5px;
  height: 62px;
  width: 62px;
}

.img__wrap_right a {
  float: right;
  margin-top: 17px;

}

.img__wrap_right a:hover {
  opacity: 0.8; 
  text-decoration: none;
}

.social_links_W img {
  float: right;
  margin-top: -8px;
  margin-right: 10px;
  height: 34px;
}

.social_links_FB img {
  float: right;
  margin-top: -7px;
  margin-right: 10px;
  height: 32px;

} /*https://www.facebook.com/brand/resources/facebookapp/logo*/


.social_links_M img {
  float: right;
  margin-top: -6px;
  margin-right: 10px;
  height: 32px;
}


.img__description {
position: absolute;
text-align: center;
height: 36px;
width:  48px;
font-size: 12px;
margin-top: 18px;
margin-left: 12px;
top: 0;
bottom: 0;
left: 0;
right: 0;
color: #121212;

/* transition effect. not necessary */
transition: opacity .2s, visibility .2s;
}

img.img_img:hover {
visibility: visible;
opacity: 0.8;
}

.link {

  transition: all 0.1s;
}

.link span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.2s;
}

.arrow {
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
}


.center {
  float: left;
  /*position: center;*/
  max-width:  100%;
  padding: 0px;
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.banner {
  position: center;
  background-color: #121212;
  width: 100%;
}

.banner img {
  margin-top: 15px;
  margin-left: 40px;
  padding-left: 40px;
  height: 200px ;
  pointer-events: none;
  

}



/* Create three unequal columns that floats next to each other */
.column {
float: left;
padding: 0px;

}

.column-left {
width: 20%;
background-color: #121212 ;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

}

.column-middle {

width: 60%;
background-color: #121212 ;
}



.column-right {
width: 20%;
background-color: #121212 ;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}

/* Clear floats after the columns */
.clearfloat:after {
content: "";
display: table;
clear: left;
text-decoration: none;
}





/*----------------------------------------------------------------------------- 
7 -Footer   
-----------------------------------------------------------------------------*/

.footer {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #ff7e0c;
  margin: auto;
  padding: auto;
  font-size: 14px;
  border-top: 1px solid #ff7e0c;

}

.footer .links{
  color: #121212;
  text-align: left;
  margin: auto;
  font-style: bold;
  font-size: 15px;
}

.footer ul {
  margin:  auto;
  padding-top: 20px;
  text-align: left;
  list-style-type: none;
}


/*----------------------------------------------------------------------------- 
10 - Link editing   
-----------------------------------------------------------------------------*/
a:link { color: #121212; /* orange colour rgba(255, 126, 12, 1)*/
       text-decoration: none;}
a:visited { color: #121212; /* dark/black colour rgba(18, 18, 18, 1) */
          text-decoration: none;}
a:hover { color: #ff7e0c; 
        text-decoration: none;}
a:active { color:#121212; 
         text-decoration: none;}
/* #fdfdfd - The Cream/White Colour  rgba(253, 253, 253, 1)*/


/*----------------------------------------------------------------------------- 
10 - Responsive Design   
-----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------- 
XX - RESPONSIVE DESIGN MOBILE VIEW 
-----------------------------------------------------------------------------*/
@media only screen and (min-width:241px) and (max-width: 1024px) {
  #header {
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #121212;
    width: 95%;
    height: 52px;
    border-bottom: 3px solid #ff7e0c;
    position: sticky;
    z-index: 1;
     
  }

  .headerlogo {
    float: right;
    margin-top: 7px;
    margin-right: 35px;
    height: 36px;
    width: auto;
  }

  /*sticky header style W3school*/

  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }

  .sticky + .contentbox {
    padding-top: 102px;
  }

  .img__wrap_left img{
      padding-left: 10px;
      margin-top: 4px;
      width: 46px;
      height: 46px;
  }

  .img_img_desktop {
    display: none;
  }
  
  .social_links_FB img, .social_links_M img, .social_links_W{
      height: 38px;
      display: none;
  }

  a.social_links_FB, a.social_links_M {
      margin-top: 15px;
  }
  a.social_links_W {
      margin-top: 17px;
  }


  #container {
      width: 95%;
      position: center;
      margin:  0;
      margin-right: 5px;
      height: auto;
  }
  
  .banner {
      display: none;
      box-sizing: border-box;
      width: 100%;
      margin: auto;
      margin-left: 5px;
      padding: 0;
      height: 48px;
      background-color: #fdfdfd;
      
  }

  .banner img {
      display: none;

      /*width: auto;
      margin: 0px;
      margin-top: 0;
      margin-left: 20px;
      height: 130px;
      padding: 0px;*/
      
  }

  h2 {
    display: block;
    float: none;
    box-sizing: border-box;
    align-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 5%;
    font-size: 160%;
    font-weight: 300;
    color: #121212;
    font-family: 'Oswald', sans-serif;
    
  }   

  h2 p {
    font-size: 16px;
  }

  .clearfloat {
      height: 0px;
  }


  .contentbox {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      margin: 10px;
  }

  /*----------------------------------------------------------------------------- 
   STYLE PRODUCT GALLERY - MOBILE
  -----------------------------------------------------------------------------*/
  
  .picture_gallery {
    position: relative;
    width: auto ;
    height: auto;
    display: block;
    margin:  auto;
  }

  .banner, .Display {
    display: block;
    padding: 5px;
    padding-top: 0;

}

  /*Scroll Up Style*/

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #121212; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    font-size: 0px; /* Increase font size */
  }

  #myBtn img {
    width: 50px;
  }

  /*FB0B0B*/
  
  #myBtn:hover {
    background-color: #ff7e0c; /* Add a dark-grey background on hover */
  }


  /* Style the Image Used to Trigger the Modal */


  .myImg {
    border-radius: 5px;
    object-fit: fit;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    margin-top: 10px;
    border: 2px solid #121212; /* dark/black colour rgba(18, 18, 18, 1) */
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0px;
    width: 40%;
    height: 120px;
    
  }

  .myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 90%;
    height: auto;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 90%;
    text-align: center;
    font-size: 24px;
    color: #ccc;
    padding: 10px 0;
    height: auto;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  } 

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus, .centeredtext:hover a{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .centeredtext:hover a{
    color: #121212;
    text-decoration: none;
    cursor: pointer;
  }

  



  /*----------------------------------------------------------------------------- 
  END PRODUCT GALLERY
  -----------------------------------------------------------------------------*/


  
  
  .list_float {
      
      display: none;
  }
  
  .footer {
      position: relative;
      margin: 5px;
      margin-bottom: 0;
      width: 100%;
      height: 460px;
      background-color: #121212;
      font-size: 12px;
      text-align: left;
      border-top: 2px solid #ff7e0c;
  }

  .footerbox {
      position: relative;
      background-color: #121212;
      box-sizing: border-box;
      float: right;
      width: 50%;
      height: 140px;
      text-align: left;
      padding-top: 10%;
      margin: auto;
      margin-bottom: 20px;
       
   }


   .footerbox b, .footerbox p{
       font-variant: normal;
       font-size: 125%;
       font-weight: 200;
       color: #f1f1f1;
       font-family: 'Oswald', sans-serif;
       text-decoration: underline #ff7e0c;
       text-underline-offset: 0.03em;
   }

  .footerlogoimg {
      background-color: #121212;
      box-sizing: border-box;
      padding-top: 30px;
      float: left;
      position: relative;
      width: 50%;
      max-height: 140px;
      margin-bottom: 20px;
  }
  
  

  ul.list_block_enable {
      background-color: #121212;
      color: #818181;
      padding-top: 0px;
      height: auto;
      box-sizing: border-box;
      display: block;
      width: 100%;
      background-color: #121212;
      border: 2px solid #121212;
      font-size: 14px;
  }

  ul.list_block_enable p{
      margin-bottom: 5px;
      color: #818181;
  }

  .footer .links{
      background-color: #121212;
      font-size:12px;
      color: #818181;
  }

  ul.follow {
      padding-top: 10px;
  }

  .facebookfooterimg {
      width: 20px;
      height: auto;
      
  }
 
  .acknowledgement {
      position: sticky;
      padding: 0;
      margin: 5px;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: #121212;

  }

  a.icons {
      font-size: 9px;
      color: #818181;

  }

  a.icons:hover { 
      color: #fdfdfd; 
      text-decoration: none;}

  a.copyright {
      display: block;
      font-size: 12px;
      padding-top: 2px;
      padding-bottom: 2px;
      color: #818181;
  }


  .Modalmenu {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .Modalmenucontent {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    a.Modalmenulinks {
      color: #121212;
      font-family: 'Oswald', sans-serif;
      font-weight: 200;
    }

    a.Modalmenulinks:hover {
      color: #ff7e0c;
    }
    
    /* The Close Button */
    .menuclose {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
  


                      } /*End max-width: 720px */

/*----------------------------------------------------------------------------- 
XX - RESPONSIVE DESIGN DESKTOP VIEW 
-----------------------------------------------------------------------------*/

@media  (min-width:1025px) and (max-width:1920px) {
  #header {
     width: 1280px;
     height: 64px; 
  }

  .headerlogo {
      display: none;
  }

  .img__wrap_left {
      width: 64px;
      height: 64px;
  }

  .img__wrap_left img{
    padding-left: 10px;
    margin-top: 4px;
    width: 60px;
    height: 60px;
}

  .img_img_mobile {
    display: none;
}

  .social_links_FB img, .social_links_M img, .social_links_W img{
      height: 40px;
      display: none;
      
  }

  a.social_links_FB, a.social_links_M, a.social_links_W {
      margin-top: 22px;
  }

  #container {
      width: 1280px;
      position: center;
      margin:  0 auto 0 auto;
  }
  .banner img {
      height: 260px;
      
  }
  .banner {
      position: center;
      width: 1280px;
      height: 272px;
      background-color: #fdfdfd;
      border-bottom: 2px solid #ff7e0c;
  }

  .clearfloat {
      position: relative;
      width: 1280px;
      height: 0px;
  }

  h2 {
      margin-top: 80px;
      margin-left: 200px;
      font-size: 68px;
      width: auto;
  }

    h2 p {
      font-size: 34px;
    }

  .contentbox {
      position: relative;
      box-sizing: border-box;
      width: 1280px;
      height: auto;
      margin: 20px;
  }

  /*----------------------------------------------------------------------------- 
   STYLE PRODUCT GALLERY - DESKTOP
  -----------------------------------------------------------------------------*/
  
  .picture_gallery {
    position: relative;
    width: auto ;
    height: auto;
    display: block;
    margin:  auto;
  }

  .centeredtext {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #121212;
    font-size: 22px;
    padding-left: 27%;
    font-family: 'Oswald', sans-serif;
  }


  /*Scroll Up Style*/

  #myBtn {
    display: none; 
  }

  #myBtn img {
    display: none; 
  }

  /*FB0B0B*/
  
  #myBtn:hover {
    display: none; 
  }


  /* Style the Image Used to Trigger the Modal */


  .myImg {
    border-radius: 5px;
    object-fit: fit;
    cursor: pointer;
    transition: 0.3s;
    margin-left:  35px; /*Must be the same as Margin-Left .backbox img*/
    margin-top: 10px;
    border: 2px solid #121212; /* dark/black colour rgba(18, 18, 18, 1) */
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0px;
    width: 250px;
    height: 180px;
  }

  .myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 24px;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  } 

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus, .centeredtext:hover a{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .centeredtext:hover a{
    color: #121212;
    text-decoration: none;
    cursor: pointer;
  }


  /*----------------------------------------------------------------------------- 
  END PRODUCT GALLERY
  -----------------------------------------------------------------------------*/


  .footer {
      position: relative;
      width: 100%;
      height: 240px;
      background-color: #121212;
      padding: auto;
      font-size: 14px;
      text-align: left;
      border-top: 2px solid #ff7e0c;
  }

  .footerbox {
     box-sizing: border-box;
     float: left; 
     width: 360px;
     height: 230px;
     text-align: center;
     padding-top: 75px;
     padding-left: 50px;
      
  }

  .footerbox b{
      font-size: 24px;
      font-weight: 300;
      color: #f1f1f1;
      font-family: 'Oswald', sans-serif;
      text-decoration: underline #ff7e0c;
  }

  .footerlogoimg {
      float: left;
      position: relative;
      width: 350px;
      height: 160px;
      margin-top: 30px;
      margin-left: -5px;
  }

  
  
  .footer .links{
      color: #818181;
      text-align: left;
      margin: auto;
      padding: 1px;
      font-style: bold;
      font-size: 14px;
  }
  
  .footer ul {
      margin-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
      text-align: left;
      list-style-type: none;
      border-left: 1px solid #818181;
  }
  
  .list_float {
      float: left;   
  }
  
  .list_float p{
      margin-top: -20px;
      color: #818181;   
  }

  li {
      padding-bottom: 2px;
  }

  .follow p {
      margin-bottom: 5px;
  }

  .facebookfooterimg {
      width: 30px;
      height: 30px;   
  }

  .clearfloatfooter:after {
      content: "";
      display: table;
      clear: left;
  }
  .clearfloatfooter {
      height: 0px;
      width: 100%;
  }

  .acknowledgement {
      position: sticky;
      box-sizing: border-box;
      width: 1280px;
      padding: 0;
      text-align: left;
      width: 100%;
      height: 30px;
      padding-left: 20px;
      background-color: #121212;
      float: left;

  }

  a.icons {
      padding-left: 5px;
      color: #818181;

  }

  a.icons:hover { 
      color: #fdfdfd; 
      text-decoration: none;
      cursor: pointer;}

  a.copyright {
      float: right;
      padding-right: 50px;
      color: #818181;
  }

  #demo {
      display: none;
  }

  .Modalmenu {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .Modalmenucontent {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    a.Modalmenulinks {
      color: #121212;
      font-family: 'Oswald', sans-serif;
      font-weight: 200;
    }

    a.Modalmenulinks:hover {
      color: #ff7e0c;
    }
    
    /* The Close Button */
    .menuclose {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .menuclose:hover,
    .menuclose:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
}